<main class="display">
    {{#if (neq booking true)}}
    <section class="col-4">
        <h3>Courts list</h3>
        <table>
            <thead>
                <th>Courts</th>
                <th>Flooring</th>
            </thead>
            <tbody>
                {{#each courts}}
                <tr>
                    <td><a href="/courts/details?id={{id}}">{{name}}</a></td>
                    <td>{{flooring}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
    <section class="col-8">
        {{#if (eq court.id undefined)}}
        <h3>Courts presentation</h3>
        <div>
            <h5>Informations about the courts</h5>
        </div>
        {{else}}
        <h3>Court details</h3>
        <div id="court_details">
            <h5>{{court.name}}</h5>
            <img src="{{court.picture}}" alt="Image of the court">
            <p>{{court.flooring}}</p>
            <p>{{court.location}}</p>
        </div>
        {{/if}}
    </section>
    {{else}}
    <p>ok</p>
    {{/if}}
</main>